/*ATRIBUTOS GLOBALES*/
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
}



/*********NAVBAR ELEMENTOS *****/
nav li {
  margin-top: 1.5rem;
  margin-right: 2rem;
  font-size: 1.4rem;
}

.fw-semibold{
 color: #2A4473,
  
}

/************ETIQUETA a CON HOVER *****************/

a{
  display: block;
  text-decoration: none;
}


/*HOVER VISITADO*/
a,
a:visited {
  text-decoration: none;
}

.login_principal{
  text-decoration: none;
  text-align: center;
  border-style: none;
}

.pages {
  justify-content: center;


}

ul {
  width: 100%;
  display: flex;
justify-content: center;
  list-style: none;
  color: #27325E;
  /*para que no se vean bullets de la lista*/
}

li {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #27325E;
}

/**********************BOTÓN DEL LOGIN******************************/
#login {
  margin-top: 1.5rem; 
  background-color: #ffa400;
  color: #ffffff;
  margin-right: 1rem;
  border: none !important;
}

#login:hover {
  background-color: #27325E;
  color: #ffffff
}

.login_principal{
color: #ffff;
}

/************BOTÓN FORMULARIO************/
button {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.3rem;
  color: #fff;
  background-color: #ffa400;
  border: none;
}

button:hover {
  background-color: #27325E;
  color: #ffffff
}

.btn-primary{ 
  border: none;
}

.btn-primary:hover {
background-color: #ffa400;
}
/******************PARA QUE TOME TODA EL AREA DEL BOTÓN************************/
button a {
  display: block;
  position: relative; 
}


p {
   font-size: 1.3rem;
  margin-left: 1rem;
 
}


.banner {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}


.tagline {
  width: 32%;
  height: 25rem;
  margin-top: 1rem;
}

/*
h2 {
  text-align: left;
  margin-left: 1rem;
  margin-top: 0.2rem;
  width: 100%;
  /*el ancho que ocupa es el 100% del contenedor h2
  color: #ffa400;
  font-weight: 200;
  font-size: 2.3rem;
  line-height: 2.5rem;
}*/



.bullets {
  width: 100%;
  /* 100 x ciento dentro del contenedor tagline*/
  font-size: 0.5rem;
  display: inline-block;
  /*alinear los li verticalmente uno abajo del otro*/
  line-height: 1rem;
  margin-left: 1rem;
}




/**********FORMULARIO DE CONTACTO DEL BANNER*******************/


.contact-form {
  background-color: #b8e0ff;
  border-radius: 5%;
  width: fit-content;
  height: auto;
    box-shadow: 0, 0, 40px, -10px;
  border-color: #33354b;
  box-shadow: 5px 7px 10px #a889a8;
  text-shadow: #433543;
}


.contacto {
  font-size: 0.8 rem;
  text-align: center;
  padding-top: 1rem;
  font-weight: 900;
}


/*BOTÓN DEL FORMULARIO DE REGISTRO QUE CAMBIÉ PARA QUE QUEDE IGUAl.

.submit {
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 3.5rem;
  width: 12rem;
  justify-content: center;
}

.submit:hover {
  text-decoration: none;
  color: #ffffff;
}

.submit:visited {
  text-decoration: none;
  background-color: #33354b;
  color: #ffffff
}

*/

.boton2 {
  top: 1rem;
  width: 10rem;
  height: 2.5rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  display: block;
  border: none;
  position: relative;
  color:#FFFFFF;
  background-color: #ffa400;
}



.boton2:hover{
  background-color:#27325E;
}

  /*posicion relativa a su contenedor*/


/*botón ancla al formulario*/
.registro {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  height: 3.5rem;
  width: 12rem;
  margin-bottom: 3rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  color: #ffffff; 
  border: none;
}


a:hover {
  color: #ffa400;
  /*text-shadow: 0.125rem 0.125rem 0.188rem #0ef4a0;  si blur=> valores chiquitos*/
}

/*Esto va a funcionar cuando conecte con php el formulario de contacto?*/

label {
  display: inline-block;
  /*alinear los elementos verticalmente uno abajo del otro*/
  width: 100%;
  text-align: center;
  align-self: center;
  border: none;
  border-radius: 5;
}

input {
  text-align: center;
  width: 80%;
  height: 2rem;
  border: none;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
}

#mensaje {
  width: 80%;
  height: 80%;
  border: none;
  margin-top: 1rem;
  text-align: center;
}

fieldset {
  border: none;
  text-align: center;
}

/***********sección 3 pasos*************/
.icons {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  position: relative;
}

h4 {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 900;
}

.necesidades {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 100;
}

/*SECCIÓN DE REVIEWS*/

/*ul que contiene cada elemento */


.row {
  display: flex;
  justify-content: space-between; 

}

.card-text {
 font-size: 0.5rem;
}

.card-body{
  display: flex;
}

/*nombre especialidad y estrellas*/
.datos-medico {
  width: auto;
}


/*contiene a la ilustracion principal mas las fotos de los médicos*/
.medico {
  justify-content: center;
  /*padding: 0 5rem;*/
}

h5 {
  font-size: larger;
  font-weight: 900;
}

h6 {
  font-size: medium;
}


/*fin de Sección de reviews*/

/******SECCIÓN CALL TO ACTION********/



/*botón del formulario de contacto*/
.submit {
  text-align: center;
  justify-content: center;
}

/*texto enfocate en tus pacientes*/
.pacientes {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  padding-top: 3rem;

}



/*Titulo de preguntas frecuentes*/
.titulo-faq {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;

  justify-items: center;
}

/*fin preguntas frecuentes*/






/*******************TITULO INGRESÁ***********************/


.form-login h4 {
  color: #ffffff;
  font-size: 3rem;
  text-align: center;

}

/**************************FORMULARIO LOGIN********************************/


.form-login {
  background-color: #1e7dd1;
  width: 35rem;
  height: auto;
  border-radius: 1rem;
  padding: 2rem;
  margin: auto;
  justify-content: right;
  font-family: roboto, "Helvetica Neue";
  box-shadow: 0, 0, 40px, -10px;
  border-color: #33354b;
  box-shadow: 5px 7px 10px #a889a8;
  text-shadow: #433543;
}

.contacto {
  color: #33354b;
  font-size: 1.5rem;
  padding: 2rem;
  line-height: 1.5rem;
  /*interlineado*/
}


.imagen-login {
  height: 100%;
}

.login {
  height: 85%;
  display: flex;
  justify-content: right;
  background-color: #433543;

}

p .login {
  font-size: 0.5rem;

}


/*************FIN PÁGINA LOGIN************/



/**************INICIO PÁGINA REGISTRO*************/

/*****FORMULARIO DE REGISTRO*******/


.contenedor-formulario{
  background-color:#27325E;
}

.click{
  font-size: 0.8rem;
  color: #fff;
}

/***************footer todas las páginas*******************/


.copyright {
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  margin: 0 auto;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}

/*fin footer todas las páginas*/


/*********************PÁGINA DE AGRADECIMENTO*********************/

/*contenedor página de agradecimiento*/
.agradecimiento {
  color: #5383eb;
  font-size: 4rem;
  display: inline-block;
  justify-content: center;
  width: 100%;
  height: 78vh;
  margin: 0 auto;
}

/*contenedor del bloque de texto*/
.texto-agradecimiento {
  text-align: center;
  margin: 0 auto;
}

/*Texto que tiene la palabra gracias*/
.gracias {
  width: 20rem;
  margin: 0 auto;
  align-self: center;
  font-size: 5rem;
  font-weight: 900;

}


.cont-shaking {
  width: 30rem;
  margin: 0 auto;
}


.shaking-hands {
  margin: 0 auto;
  align-items: center;
  position: relative;

}

/**********grid para servicios*********/

.servicios-main {
  height: 100vh;
}

.historial_medico {
  height: 3rem;
  width: 3rem;
}


/*******************************NOTICIAS********************************/

.main-noticias {
  height: auto;
}

/*****titulo portal medilink********/
.noticias {
  font-weight: 900;
  
}



/*IMAGENES DE SECCIÓN EJERCICIO*/
.card_ejercicio1 {
  width: 32%;
  overflow: hidden;
}

.card_ejercicio2 {
  width: 32%;
  overflow: hidden;
}

.card_ejercicio3 {
  width: 32%;
  overflow: hidden;
}

.titulo_ejercicio {
  font-size: 2.3rem;
  color: #27325E;
}

.texto_ejercicio_container p {
  font-size: 1.2rem;
  font-weight: 400;
  width: auto;
  margin-top: 2rem;
}






.menu-vertical {
  color: #ffff;
  background-color: #27325E;
  font-size: 1.6rem;
  font-weight: 500;
  height:85%;
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.menu-vertical ul {
  color: #ffff;
  height: auto;
  display: inline-block;
  justify-content: center;
  line-height: 4rem;
}

.menu-vertical a {
  color: #ffff;
}

.menu-vertical a:hover {
  color: #ffa400;
}

.menu-vertical li {
  color: #ffff;
  height: fit-content;
  width: 100%;
  font-size: 1.3rem;
  justify-content: left;
}



.nombre {
  font-size: 2rem;
  color: #FFFFFF;
  height: auto;
}

.especialidad {
  font-size: 1.5;
  color: #FFFFFF;
  text-decoration: underline;
  margin: 0 auto;
}

.especialidad:hover {
  color: #ffa400;
}





#buscador {
 
  height: 3rem;
  border: transparent;
  border-bottom: solid 1px #ccc;
  background-color: #ffffff;
  border-radius: 0.7rem;
font-size: 1rem;

}

/*dashboard*/

.p-dashboard {
  background-color: #27325E;
}
.dashboard{
  background-color: #27325E;
}

.bienvenida{background-color: #27325E;
  padding-top: 2.5rem;
}

.texto-bienvenida{
  line-height: 0.5rem;
}


/****************calendario***************************/




/**********CONTENIDO cuerpo calendario*****/
table {
  margin-top: 3rem;
  width: 100%;
  height: auto;  
  margin: 0 auto;
}


/*etiqueta td para crear celdas*/
td {
  border-color: #1a181a;
  border-width:0.031rem;
  border-style: inset; /*borde intercalado*/
 
}

/*celdas*/
th {
  width: 12.5rem;
  height: 3.125rem;
  background: #1FBE92;
  max-width: 31.25rem;
  border-color: #2A4473;
  border-width: 0.063rem;
  border-style: inset;/*borde intercalado*/
 
}




/*****RELLENO CELDAS******/
h1 {  
  color: #2A4473;
 
}

table {
  color: #2A4473;
  text-align: center;
  font-size: 1.2rem;
 }

.principal {
  width: 79%;
  float: left;

}

/*Fichas pacientes contenedor principal*/

.info {
   font-size: 3rem;
  color: #27325E;
  font-weight: 600;
}

.info-medica {

  width: 100%;
  position: relative;
  height: auto;

}

.header-info {
  background-color: #1FBE92;
  height: 3rem;  
  color: #fff;
 padding-right: 0.4rem;
}

.cards-pacientes {
  position: relative;
  /*propiedades relativas al contenedor padre*/
  width: 100%;
  margin: 0%;
  display: flex;
  justify-content: space-between;
}

.cards-pacientes li {
  display: flex;
  position: relative;
  width: 33%;
  height: 8rem;
  float: left;
  justify-content: center;
  box-shadow: 1px solid #1a181a;
}

.cards-pacientes p {
  text-align: left;
}



 .nombre-paciente{
  color: #ffa400;
  font-size: 0.4 rem;
  }

  .mail{
    color: #27325E;
    font-size: 1rem;
  }

  .telefono{
    color: #27325E;
    font-size: 1rem;
  }

  /**************************MODALES*****************

  .historial{
    background-color: #bdb1b1;
    height: auto;
    width:35%;
    height: 60%;
    margin: 5rem;   
    z-index: 9999;
    position:relative;
   
  }


  .boton-modal{
    background-color: #ffff;
    padding:0.9rem;
  
  }

  .btn-modal{
    background-color: #059630;
    padding: 1rem;
  }

  .encabezado-modal{
    background-color: #27325E;
    font-size: 2rem;   
  }

  .historial h2{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
  }

  .paciente-modal{
    font-size:1.3rem;
    color:#ffff;
    text-align: center;
  }

  .ul-modal{
    margin-left: 2rem;
      list-style:none;
    display: inline-block;
    color: #12bc8c;
  }

.ficha-paciente{
  width: 70%;
  margin-left: 3rem;
}

.datos-paciente-dash{
  background-color:#27325E; 
  display: flex;
align-items: center;
justify-content: center;
padding-top:1rem;
padding-bottom:1rem;
}
 
.info-paciente{ 
 display: grid;
 /*alineacion vertical*/

 /*coloca items en el centro
 width: 100%;
 margin-right: 3rem;
}

.modal{
  width: 100%;
  height: 100%;  
  position:fixed;
  display:none;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  background-color: #bdb1b184;
  z-index:998;
}

*************/
/*> selector hijo directo (más proximo
.historial > i{
position:absolute;
left:0;
top:0;
font-size: 2rem;
}*/

/*> selector de elemento hermano (dos elementos al mismo nivel)
#btn-modal:checked~.modal{
 display:flex; 

}

#btn-modal{
  display: none;
 
}

.modal > label{
  position:absolute;
  height: 100%;
  width: 100%;
}

.modal-header{
  justify-content: center;
}