/*ATRIBUTOS GLOBALES*/
* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0%;
  padding: 0%;
}



/****NAVBAR***/
nav {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding-top: 0.5em;
}


/*********NAVBAR ELEMENTOS *****/
nav li {
  margin-top: 1.5rem;
  margin-right: 2rem;
  font-size: 1.5rem;
}



/************ETIQUETA a CON HOVER *****************/

a{
  display: block;
}


/*HOVER VISITADO*/
a,
a:visited {
  text-decoration: none;
}



/********ENCABEZADO PRINCIPAL********/

h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #27325E;
  margin-top: 1rem;
  font-weight: bold;
  line-height: 3rem;
  text-align: left;
}

.pages {
  justify-content: center;
  color:#33354b

}

ul {
  width: 100%;
  display: flex;
  justify-content: right;
  list-style: none;
  color: #27325E;
  /*para que no se vean bullets de la lista*/
}

li {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #27325E;
}

/**********************BOTÓN DEL LOGIN******************************/
#login {
  margin-top: 1.5rem;
  background-color: #ffa400;
  color: #ffffff;
  margin-right: 5rem;
}

#login:hover {
  background-color: #27325E;
  color: #ffffff
}

.login_principal{
color: #ffff;
}

/************BOTÓN FORMULARIO************/
button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  color: #fff;
  background-color: #ffa400;
  border: none;
}

button:hover {
  background-color: #27325E;
  color: #ffffff
}

/******************PARA QUE TOME TODA EL AREA DEL BOTÓN************************/
button a {
  display: block;
  position: relative; 
}


p {
  width: 30%;
  font-size: 1.5rem;
  margin-left: 1rem;
  font-size: 2rem;
}


.logo {
  width: 13rem;
  margin-top: 1rem;
  margin-left: 6rem;
}


section {
  height: 30rem;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}


.tagline {
  width: 32%;
  height: 25rem;
  margin-top: 1rem;
}


h2 {
  text-align: left;
  margin-left: 1rem;
  margin-top: 0.2rem;
  width: 100%;
  /*el ancho que ocupa es el 100% del contenedor h2*/
  color: #ffa400;
  font-weight: 200;
  font-size: 2.3rem;
  line-height: 2.5rem;
}


/*chamuyo marketinero*/
p {
  font-weight: bold;
  color: #33354b;
  font-size: 1.8rem;
  width: 90%;
  /*el ancho que ocupa es el 100% del contenedor p*/
}

.bullets {
  width: 100%;
  /* 100 x ciento dentro del contenedor tagline*/
  font-size: 0.5rem;
  display: inline-block;
  /*alinear los li verticalmente uno abajo del otro*/
  line-height: 1rem;
  margin-left: 1rem;
}


/********IMAGEN BANNER**********/
.medico {
  width: 100%;
  height: auto;
  align-items: center;
  margin-right: 2rem;
}

/**********FORMULARIO DE CONTACTO DEL BANNER*******************/
.contact-form {
  background-color: #b8e0ff;
  border-radius: 8%;
  width: 35rem;
  height: auto;
  margin-left: 5rem;
  margin-top: 1rem;
  box-shadow: 0, 0, 40px, -10px;
  border-color: #33354b;
  box-shadow: 5px 7px 10px #a889a8;
  text-shadow: #433543;
}


.contacto {
  font-size: 0.8 rem;
  text-align: center;
  padding-top: 1rem;
  font-weight: 900;
}

.submit {
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 3.5rem;
  width: 12rem;
  justify-content: center;
}

.boton2 {
  top: 1rem;
  width: 10rem;
  height: 2.5rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  display: block;
  border: none;
  position: relative;
  color:#FFFFFF;
  background-color: #ffa400;
}

.boton2:hover{
  background-color:#27325E;
}

  /*posicion relativa a su contenedor*/


/*botón ancla al formulario*/
.registro {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  height: 3.5rem;
  width: 12rem;
  margin-bottom: 3rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: #ffa400;
  border: none;
}

.submit:hover {
  text-decoration: none;
  color: #ffffff;
}

.submit:visited {
  text-decoration: none;
  background-color: #33354b;
  color: #ffffff
}

a:hover {
  color: #ffa400;
  /*text-shadow: 0.125rem 0.125rem 0.188rem #0ef4a0;  si blur=> valores chiquitos*/
}

/*Esto va a funcionar cuando conecte con php el formulario de contacto?*/

label {
  display: inline-block;
  /*alinear los elementos verticalmente uno abajo del otro*/
  width: 100%;
  text-align: center;
  align-self: center;
  border: none;
  border-radius: 5;
}

input {
  text-align: center;
  width: 80%;
  height: 2rem;
  border: none;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
}

#mensaje {
  width: 80%;
  height: 80%;
  border: none;
  margin-top: 1rem;
  text-align: center;
}

fieldset {
  border: none;
  text-align: center;
}

/***********sección 3 pasos*************/
.analizando {
  background-color: #5296e7;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.icons {
  width: 100%;
  height: auto;
  margin-top: 5rem;
  display: inline-block;
  text-align: center;
  position: relative;
}

h4 {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 900;
}

.necesidades {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 100;
}

/*SECCIÓN DE REVIEWS*/

/*ul que contiene cada elemento */
.comentarios {
  height: fit-content;
  margin: 1rem;
  font-size: 1.2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.card {
  margin: 3rem;
}

/*nombre especialidad y estrellas*/
.datos-medico {
  width: auto;
}

/*FOTO MÉDICO*/
.foto-medico {
  width: 20%;
}

/*contiene a la ilustracion principal mas las fotos de los médicos*/
.medico {
  justify-content: center;
  /*padding: 0 5rem;*/
}

h5 {
  font-size: larger;
  font-weight: 900;
}

h6 {
  font-size: medium;
}


/*fin de Sección de reviews*/

/******SECCIÓN CALL TO ACTION********/

.call-to-action {
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-color: #5296e7;
  height: 15rem;

}

/*botón del formulario de contacto*/
.submit {
  text-align: center;
  justify-content: center;
}

/*texto enfocate en tus pacientes*/
.pacientes {
  font-size: 4rem;
  font-weight: 900;
  color: #ffff;
  text-align: center;
  padding-top: 3rem;
}

/*Preguntas Frecuentes*/
.faq {
  font-size: x-small;
  justify-content: center;
  color: #33354b;
}

/*Titulo de preguntas frecuentes*/
.titulo-faq {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2.5rem;
  justify-items: center;
}


.faq ul {
  width: 100%;
  display: inline-block;
  justify-content:left;

}

/*elementos de preguntas frecuentes*/
.faq ul li { 
  position: relative;
  float: none;
  text-align: center; 
  justify-items: left;
}

/*fin preguntas frecuentes*/

/*subpágina quienes somos*/

.quienes-somos {
  display: flex;
  justify-content: center;
  height: 68vh;
  margin-top: 6rem;
}


.somos {
  display: inline-block;
  text-align: left;
  width: 35rem;
  padding-top: 1rem 0 0 1rem;
  font-size: 1.4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quienes-somos h4 {
  color: #5296e7;
  font-size: 2rem;
  font-weight: 900;
  text-align: left;
  padding-left: 1rem;
}

b {
  font-weight: 900;
}

/*fin subpágina quienes somos*/

/********************INICIO PÁGINA LOGIN*********************/


/****************CONTENEDOR PRINCIPAL DE LA PÁGINA*******************/
.main-login {
  display: flex;
  justify-content: center;
  height: 79vh;
  top: 4rem;
}


/*******************TITULO INGRESÁ***********************/


.form-login h4 {
  color: #ffffff;
  font-size: 3rem;
  text-align: center;

}

/**************************FORMULARIO LOGIN********************************/


.form-login {
  background-color: #1e7dd1;
  width: 35rem;
  height: auto;
  border-radius: 1rem;
  padding: 2rem;
  margin: auto;
  justify-content: right;
  font-family: roboto, "Helvetica Neue";
  box-shadow: 0, 0, 40px, -10px;
  border-color: #33354b;
  box-shadow: 5px 7px 10px #a889a8;
  text-shadow: #433543;
}

.contacto {
  color: #33354b;
  font-size: 1.5rem;
  padding: 2rem;
  line-height: 1.5rem;
  /*interlineado*/
}


.imagen-login {
  height: 100%;
}

.login {
  height: 85%;
  display: flex;
  justify-content: right;
  background-color: #433543;

}

p .login {
  font-size: 0.5rem;

}

.olvidaste {
  font-size: 1.2rem;
  line-height: 2.5rem;

}



/*************FIN PÁGINA LOGIN************/



/**************INICIO PÁGINA REGISTRO*************/

/*****FORMULARIO DE REGISTRO*******/
.form-register {
  background-color: #1e7dd1;
  width: 35rem;
  height: auto;
  border-radius: 1rem;
  padding: 2rem;
  margin: auto;
  justify-content: right;
  font-family: roboto, "Helvetica Neue";
  box-shadow: 0, 0, 40px, -10px;
  border-color: #33354b;
  box-shadow: 5px 7px 10px #a889a8;
  text-shadow: #433543;
}


.main-register {
  height: 78vh;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.form-register h4 {
  color: #ffffff;
  font-size: 3rem;
  text-align: center;

}

.form-register p {
  height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.form-register a {
  color: #f6eded;
  text-decoration: none;
}

.form-register a:hover {
  color: #ffa400;
  text-decoration: underline;
}


.foto-registro {
  display: flex;
  justify-content: space-around;
  justify-content: left;
  margin-top: 1.5rem;
  margin-left: 6.5rem;
  width: 50rem;
}

main .registrado {
  font-size: 1.2rem;
}


/***************footer todas las páginas*******************/
footer {
  background-color: #27325E;
  width: 100%;
  height: 8rem;
  padding-top: 1rem;
  position: relative
}


footer ul {
  justify-content: center;
  display: flex;
}


footer li {
  margin: 0.5rem;
  height: auto;
}

.mailto {
  background-color: #ffa400;
  height: 3rem;
  margin: 0 auto;
  width: 2rem;
}



.copyright {
  color: #ffffff;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-align: center;
  margin: 0 auto;
}


/*fin footer todas las páginas*/


/*********************PÁGINA DE AGRADECIMENTO*********************/

/*contenedor página de agradecimiento*/
.agradecimiento {
  color: #5383eb;
  font-size: 4rem;
  display: inline-block;
  justify-content: center;
  width: 100%;
  height: 78vh;
  margin: 0 auto;
}

/*contenedor del bloque de texto*/
.texto-agradecimiento {
  text-align: center;
  margin: 0 auto;
}

/*Texto que tiene la palabra gracias*/
.gracias {
  width: 25rem;
  margin: 0 auto;
  align-self: center;
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 3rem;
}


.cont-shaking {
  width: 30rem;
  margin: 0 auto;
}


.shaking-hands {
  margin: 0 auto;
  margin-top: 4rem;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

/*********FIN PÁGINA DE AGRADECIMENTO********/

/**********PÁGINA DE SERVICIOS*********/

/**********grid para servicios*********/
.wrapper {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-rows: repeat(3, auto);
  /**cantidad de columnas de elementos, tamaño /
  grid-gap: 1rem; /*espaciados entre elementos*/
  grid-auto-flow: column;
  grid-auto-columns: 33% 33% 33%;
  text-align: center;
  border-color: #27325E;
  height: 100%;
}

.services-main {
  height: 70vh;
}

.historial_medico {
  height: 3rem;
  width: 3rem;
}


/*******************************NOTICIAS********************************/

.main-noticias {
  height: auto;
}

/*****titulo portal medilink********/
.noticias {
  font-size: 3.2rem;
  color: #2A4473;
  font-weight: 800;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  list-style: outside;

}



/***********ARTICULO ALIMENTACIÓN************/

.alimentacion {
  display: flex;
  justify-content: space-evenly
}


.seccion_bienestar {
  height: 45rem;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.titulo_bienestar {
  color: #27325E;
  font-size: 1.6rem;
  font-weight: 900;
  text-align: right;
  margin-right: 1rem;

}

.subtitulo_bienestar {
  font-size: 1.4rem;
  color: #12bc8c;
  font-weight: 900;
  text-align: right;
  margin-right: 1rem;
  margin-top: 0.1rem;
}


.habitos {
  font-size: 1.2rem;
  font-weight: 100;
  width: auto;
  margin-top: 0.3rem;
  text-align: right;
  margin-right: 1rem;


}


.alimentacion_imagen {
  margin-top: 0.5rem;

}

/*****************ARTICULO SUEÑO*******************/

.seccion_suenio {
  height: fit-content;
  display: flex;
  justify-content: center;
}

.gestion_sueño {
  height: auto;
  display: flex;
  justify-content: space-around;
}


.descanso {
  margin-top: 0.5rem;
}


.body_gestion {
  display: inline-block;
  /*alineacion texto*/
  justify-content: center;
  height: fit-content;
  margin-left: 1rem;
  margin-top: 2rem;
}


.titulo_gestion {
  font-weight: 900;
  text-align: left;
  font-size: 2.2rem;
  margin-bottom: -0.5rem;
}

.subtitulo_gestion {
  color: #ffa400;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 0.5rem;
  width: auto;
  justify-content: left;

}


.texto_gestion {
  color: #27325E;
  font-size: 1.2rem;
  font-weight: 300;
  width: auto;
}


/***********seccion ejercicio************/
.ejercicio {
  margin-top: 8rem;
}

.titulo_ejercicio {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.articulo_ejercicio {
  height: fit-content;
}

.contenedor_imagenes_ejercicio {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

/*IMAGENES DE SECCIÓN EJERCICIO*/
.card_ejercicio1 {
  width: 32%;
  overflow: hidden;
}

.card_ejercicio2 {
  width: 32%;
  overflow: hidden;
}

.card_ejercicio3 {
  width: 32%;
  overflow: hidden;
}

.titulo_ejercicio {
  font-size: 3rem;
  color: #27325E;
  margin-top: 2rem;
}

.texto_ejercicio_container p {
  font-size: 1.2rem;
  font-weight: 400;
  width: auto;
  margin-top: 2rem;
}


/******************************DASHBOARD****************************/

/*****MAIN*******/

.main-dashboard {
  flex-direction: column;
  display: flex;
}

.contenedor-dasboard {
  height: 100vh;
  display: flex;
  width: 100%;
}


.principal-dashboard {
  display: grid;
  /*alineacion vertical*/
  place-items: center;
  /*coloca items en el centro*/
  height: 100%;
  position: relative;
}

.bienvenida {
  width: 100%;
  height: 8rem;
  background-color: #27325E;
  color: #FFFFFF;
  font-size: 2.5rem;
  text-align: right;
  line-height: 7rem;
}

.texto-bienvenida {
  color: #ffa400;
}

.ficha-medico {
  display: inline-block;
  padding-left: 5rem;
}

.aside-dashboard {
  width: 21%;
  height: 100vh;
  background-color: #27325E;
  float: left;
  text-align: center;

}

.menu-vertical {
  color: #ffff;
  background-color: #27325E;
  font-size: 1.6rem;
  font-weight: 500;
  height:85%;
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.menu-vertical ul {
  color: #ffff;
  height: auto;
  display: inline-block;
  justify-content: center;
  line-height: 4rem;
}

.menu-vertical a {
  color: #ffff;
}

.menu-vertical a:hover {
  color: #ffa400;
}

.menu-vertical li {
  color: #ffff;
  height: fit-content;
  width: 100%;
  font-size: 1.3rem;
  justify-content: left;
}


.medico-dash {
  width: 60%;
  margin: 0 auto;
  height: auto;
}

.nombre {
  font-size: 2rem;
  color: #FFFFFF;
  height: auto;
}

.especialidad {
  font-size: 1.5;
  color: #FFFFFF;
  text-decoration: underline;
  margin: 0 auto;
}

.especialidad:hover {
  color: #ffa400;
}



/************Barra de Busqueda*****************/

#buscador {
  background: size 1.8rem;
  width: 25.25rem;
  height: 3.2rem;
  border: transparent;
  border-bottom: solid 1px #ccc;
  background-color: #ffffff;
  border-radius: 0.7rem;
  margin-right: 7rem;

}


.buscador-bienvenida {
  display: inline-block;
  justify-content: center;
  margin-right: 8rem;
}

/****************calendario***************************/


/*****************contenedor general del calendario***********************/
.calendario-container {
  background-color: #a889a8;
  width: 100%;
  height: 50%;
  position: relative;

}

/*****************contenedor general del calendario***********************/
.calendario {
  margin: 0 right;
  height: 50%;
  width: 100%;
  position: relative; 
}

/******contenedor superior calendario******/
.mes-calendario {
  display: grid;
  /*para alinear verticalmente*/
  place-items: center;
  /*para alinear verticalmente*/
  margin-top: 3.7rem;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
  background-color: #1FBE92;
  border-color: #2A4473;
  border-style: inset;
  width: 99.5%;
  height: 5rem;
  color: #e9e6df;
  margin-right: 2rem; 
  color: #27325E;
  font-weight: 600;
}



/**********CONTENIDO cuerpo calendario*****/
table {
  margin-top: 3rem;
  width: 100%;
  height: auto;  
  margin: 0 auto;

}


/*etiqueta td para crear celdas*/
td {
  border-color: #1a181a;
  border-width:0.031rem;
  border-style: inset; /*borde intercalado*/
 
}

/*celdas*/
th {
  width: 12.5rem;
  height: 3.125rem;
  background: #1FBE92;
  max-width: 31.25rem;
  border-color: #2A4473;
  border-width: 0.063rem;
  border-style: inset;/*borde intercalado*/
 
}

tr {
  width:6.25rem;
  height: 3.125rem;
  background: #ede8e8;
  max-width: 31.25rem;
}

.paciente_agendado{
  background-color: #059630;
  color:#ffff;
  height: 70%;
  width: 80%;
  text-align: center;
  border-radius: 0.5rem;
  margin-left: 1rem;
  display: grid; /*display grid + place items sirve para alinear contenido dentro de la celda*/
  place-items: center;
  
}

.paciente_cancelado{
  background-color: #fa2d2d;
  color:#ffff;
  height: 70%;
  width: 80%;
  text-align: center;
  border-radius: 0.5rem;
  margin-left: 1rem;
  display: grid; /*display grid + place items sirve para alinear contenido dentro de la celda*/
  place-items: center;
}

.paciente_cursando{
  background-color:#ffa400;
  color:#ffff;
  height: 70%;
  width: 80%;
  text-align: center;
  border-radius: 0.5rem;
  margin-left: 1rem;
  display: grid; /*display grid + place items sirve para alinear contenido dentro de la celda*/
  place-items: center;
}

.paciente_finalizado{
  background-color: #051986;
  color:#ffff;
  height: 70%;
  width: 80%;
  text-align: center;
  border-radius: 0.5rem;
  margin-left: 1rem;
  display: grid; /*display grid + place items sirve para alinear contenido dentro de la celda*/
  place-items: center;
}

/*****RELLENO CELDAS******/
h1 {  
  color: #2A4473;
  font-weight: 900;
  margin-left: 0.8rem;
}

table {
  color: #2A4473;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 900;
}

.principal {
  width: 79%;
  float: left;

}

/*Fichas pacientes contenedor principal*/

.info {
   font-size: 3rem;
  color: #27325E;
  font-weight: 600;
}

.info-medica {

  width: 100%;
  position: relative;
  height: auto;

}

.header-info {
  background-color: #1FBE92;
  height: 3rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  color: #fff;
  text-align: center;
}

.cards-pacientes {
  position: relative;
  /*propiedades relativas al contenedor padre*/
  width: 100%;
  margin: 0%;
  display: flex;
  justify-content: space-between;
}

.cards-pacientes li {
  display: flex;
  position: relative;
  width: 33%;
  height: 8rem;
  float: left;
  justify-content: center;
  box-shadow: 1px solid #1a181a;
}

.cards-pacientes p {
  text-align: left;
}



 .nombre-paciente{
  color: #ffa400;
  font-size: 0.4 rem;
  }

  .mail{
    color: #27325E;
    font-size: 1rem;
  }

  .telefono{
    color: #27325E;
    font-size: 1rem;
  }

  /**************************MODALES******************************/


  .historial{
    background-color: #bdb1b1;
    height: auto;
    width:35%;
    height: 60%;
    margin: 5rem;   
    z-index: 9999;
    position:relative;
   
  }


  .boton-modal{
    background-color: #ffff;
    padding:0.9rem;
  
  }

  .btn-modal{
    background-color: #059630;
    padding: 1rem;
  }

  .encabezado-modal{
    background-color: #27325E;
    font-size: 2rem;   
  }

  .historial h2{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
  }

  .paciente-modal{
    font-size:1.3rem;
    color:#ffff;
    text-align: center;
  }

  .ul-modal{
    margin-left: 2rem;
      list-style:none;
    display: inline-block;
    color: #12bc8c;
  }

.ficha-paciente{
  width: 70%;
  margin-left: 3rem;
}

.datos-paciente-dash{
  background-color:#27325E; 
  display: flex;
align-items: center;
justify-content: center;
padding-top:1rem;
padding-bottom:1rem;
}
 
.info-paciente{ 
 display: grid;
 /*alineacion vertical*/
 place-items: center;
 /*coloca items en el centro*/
 width: 100%;
 margin-right: 3rem;
}

.modal{
  width: 100%;
  height: 100%;  
  position:fixed;
  display:none;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  background-color: #bdb1b184;
  z-index:998;
}

/*> selector hijo directo (más proximo
.historial > i{
position:absolute;
left:0;
top:0;
font-size: 2rem;
}*/

/*> selector de elemento hermano (dos elementos al mismo nivel)*/
#btn-modal:checked~.modal{
 display:flex; 

}

#btn-modal{
  display: none;
 
}

.modal > label{
  position:absolute;
  height: 100%;
  width: 100%;
}